@page
@model PrivacyPolicyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>to do!
Important note about cookie:
This website uses the cookie (insert the name here, for the sake of this example it is TannersWebsiteTemplate) to maintain session data for you, the user.
This cookie contains details on (if applicable) your account id, username, the id of the session, whether or not you're logged in, and if you are an admin of this site.
Additionally, the site keeps tracks of the IPs of those who comment on this site for the purpose of moderation.
</p>